body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
}

#sale {
    width: 6280px;
    height: 60px;
    background-image: url('../image/nen_sale1.jpg');
    background-size: contain;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Màu nền của header */
    color: #333; /* Màu chữ trắng */
    padding: 10px 100px; /* Khoảng cách giữa nội dung và biên của header */
}

.logo img {
    width: 100px; /* Điều chỉnh kích thước của logo theo ý muốn */
}

.search-bar {
    display: flex; /* Sử dụng Flexbox để căn chỉnh nút và thanh tìm kiếm cùng hàng */
    flex-grow: 0.75; /* Thanh tìm kiếm sẽ mở rộng để điền hết phần còn lại của header */
    margin: 0 20px; /* Khoảng cách giữa các phần tử con */
    align-items: center;
    border: 2px solid pink; /* Điều chỉnh màu và độ dày của viền thành màu hồng */
    border-radius: 30px; /* Bo góc thanh tìm kiếm */
}

.search-bar input {
    border-radius: 30px; /* Bo góc thanh tìm kiếm */
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
}


.search-bar button {
    background-color: #fff; /* Màu nền của nút tìm kiếm */
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons .cart-icon {
    margin: 10px; /* Khoảng cách giữa biểu tượng tin nhắn và giỏ hàng */
}

.icons img {
    width: 30px; /* Điều chỉnh kích thước của biểu tượng theo ý muốn */
}

nav {
    background-color: rgb(242, 190, 209); /* Màu hồng pastel */
    padding: 10px;
    text-align: center; /* Căn giữa */
}

/* Style for the navigation links */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 20px; /* Kích thước chữ */
}

/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Khoảng cách bên phải */
    margin-left: 10px; /* Khoảng cách bên trái */
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(242, 190, 209); /* Màu hồng */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left; /* Căn trái */
    padding: 10px; /* Khoảng cách bên trong */
}

/* Style for the dropdown links */
.dropdown-content a {
    color: white; /* Chữ trắng */
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Font family */
    font-size: 14px; /* Kích thước chữ */
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#login-button {
    background-color: transparent;
    border: none;
}

#login-button img {
    transition: transform 0.3s ease;
}

#login-button:hover img {
    transform: scale(1.3);
}

#login-button:active img {
    transform: scale(0.9);
}

.cart-number {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 10px;
    margin-left: 0;
}


.slideshow-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Để ảnh đạt kích thước mà không bị thay đổi tỷ lệ khung hình */
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease-in-out; /* Sử dụng transition để tạo hiệu ứng chuyển đổi */
}

.fade {
    opacity: 0; /* Bắt đầu ảnh ở trạng thái ẩn */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Căn giữa theo chiều ngang */
}

/* Khung của mỗi sản phẩm */
.product {
    width: 150px; /* Kích thước khung sản phẩm */
    padding: 10px;
    border: 1px solid #FFC0CB;
    text-align: center;
    margin: 10px;
}

/* Ảnh sản phẩm */
.product-image {
    height: 250px; /* Độ cao mong muốn cho ảnh */
    overflow: hidden; /* Ảnh vượt quá kích thước sẽ bị ẩn đi */
}

.product-image img {
    width: 100%; /* Đảm bảo ảnh vừa với div cha */
    height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
}

.product a {
    text-decoration: none; /* Ẩn gạch chân */
    color: inherit; /* Giữ màu chữ mặc định */
}

.product-name {
    font-weight: bold;
    color: black; /* Màu chữ đen */
}

.product-price {
    font-weight: bold;
    color: red; /* Màu chữ đỏ */
}


/* CSS để tạo pop-up */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Lớp mờ cho phần nền xung quanh pop-up */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 0.5 */
    z-index: 0;
    display: none;
}

#pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination a {
    /* Định dạng cho các trang chưa được chọn */
    background-color: white;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pagination a.selected {
    /*    !* Định dạng cho trang được chọn */
    background-color: pink;
}

.black-friday-banner {
    width: 70%; /* Chiều dài của block là 70% chiều dài của trang */
    margin-left: auto; /* Canh giữa bên trái */
    margin-right: auto; /* Canh giữa bên phải */
    height: 60px; /* Chiều cao cụ thể */
    font-weight: bold;
    background-color: rgb(242, 190, 209); /* Màu nền của block */
    color: white; /* Màu chữ */
    text-align: center; /* Căn giữa nội dung */
    line-height: 60px; /* Độ cao của dòng chữ */
    font-size: 20px; /* Kích thước chữ */
}

.breadcrumb a:not(:last-child)::after {
    content: " > ";
    color: #999; /* Màu của dấu phân cách */
    margin: 0 5px; /* Khoảng cách giữa dấu phân cách và mục tiêu */
}

.breadcrumb a:not(:last-child) {
    text-decoration: none; /* Loại bỏ gạch chân ở các mục không phải cuối cùng */
}

.breadcrumb a:not(:last-child):hover {
    opacity: 0.7; /* Làm mờ các mục khi rê chuột qua */
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 150px;   /* Bỏ bên trái 5px */
    margin-right: 150px;  /* Bỏ bên phải 5px */
    margin-bottom: 20px; /* Bỏ dưới 10px */
    border-radius: 5px;  /* Bo góc 5px */
    overflow: hidden;
    border: 2px solid #999;
}

.upper {
    margin-top: 0px; /* Điều chỉnh giá trị này để tạo khoảng trống phù hợp */
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex: 1; /* Phần dưới chiếm phần tỉ lệ linh hoạt của container */
}

.left, .right {
    flex: 1; /* Phần trái và phải chiếm bằng nhau */
}
.select-detail {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.select-detail.active {
    border: 2px solid #3498db;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    border: none;
    color: rgb(0, 0, 0); /* Màu chữ */
    padding: 5px 5px;
    margin: 0;
    border-radius: 10px;
}

.quantity-controls input {
    margin: 0;
    padding: 6px;
    width: 35px;
    text-align: center;

}

.quantity-controls input:focus {
    border-color: #555; /* Màu đường viền khi input được focus */
}

.quantity-controls button:active {
    transform: scale(0.9); /* Giảm kích thước khi nút được nhấn */
}

.CartBtn {
    width: 170px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #ff85a2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}


.product-images {
    margin: 10px;
}

.product-images img {

    max-width: 100%;
    height: auto;
}