.sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    top: -1px;
    left: -1px;
    transition: width 0.3s;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 9999;
    background-color: rgb(245, 253, 251);
}

.main-content {
    padding: 0;
    margin-left: 70px;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(245, 253, 251);
}

.main-content header {
    display: flex;
    align-items: center;
    opacity: 0.75;
}

#IconSidebar {
    font-size: 30px;
    margin: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.sidebar-link {
    display: flex;
    white-space: nowrap;
}

.sidebar-link:hover span {
    font-weight: bold;
}

.link {
    font-size: 24px;
    margin-top: 23px
}

.sidebar-link a {
    text-decoration: none;
}

.sidebar-icon {
    width: 40px;
    height: 40px;
    margin: 17px
}

#IconSidebar {
    cursor: pointer;
}

#content {
    margin-top: 30px;
    margin-left: 20px;
}

.add-button:hover {
    background-color: #0056b3; /* Đổi màu hover thành xanh sáng hơn */
}

#search-input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    flex: 1;
    border: none;
    outline: none;
}

.delete-button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #de0e0e;
}
.add-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar * {
    margin-right:10px
}
.search-type {
    border-radius: 5px;
    height: 25px;
}

.search-bar label {
    display: flex;
    align-items: center;
}
#search-button {
    border: none;
    background: none;
    cursor: pointer;
}
.search-input-wrapper {
    display: flex;
    align-items: center;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
}

.tool-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(245, 253, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.breadcrumb {
    padding: 10px;
    border-radius: 5px;
}

.breadcrumb-item {
    display: inline;
    font-size: 20px;
}
.breadcrumb-item a {
    text-decoration: none;
    color: #0074d9;
}
.breadcrumb-item.active {
    font-weight: bold;
    color: #333;
}