.sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    top: -1px;
    left: -1px;
    transition: width 0.3s;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 9999;
    background-color: rgb(245, 253, 251);
}

.main-content {
    padding: 0;
    margin-left: 70px;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(245, 253, 251);
}

.main-content header {
    display: flex;
    align-items: center;
    opacity: 0.75;
}

#IconSidebar {
    font-size: 30px;
    margin: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.sidebar-link {
    display: flex;
    white-space: nowrap;
}

.sidebar-link:hover span {
    font-weight: bold;
}

.link {
    font-size: 24px;
    margin-top: 23px
}

.sidebar-link a {
    text-decoration: none;
}

.sidebar-icon {
    width: 40px;
    height: 40px;
    margin: 17px
}

#IconSidebar {
    cursor: pointer;
}

#content {
    margin-top: 30px;
    margin-left: 20px;
}

.add-button:hover {
    background-color: #0056b3; /* Đổi màu hover thành xanh sáng hơn */
}

#search-input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    flex: 1;
    border: none;
    outline: none;
}

.delete-button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #de0e0e;
}

.add-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar * {
    margin-right: 10px
}

.search-type {
    border-radius: 5px;
    height: 25px;
}

.search-bar label {
    display: flex;
    align-items: center;
}

#search-button {
    border: none;
    background: none;
    cursor: pointer;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.tool-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 253, 251);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    padding: 10px;
    border-radius: 5px;
}

.breadcrumb-item {
    display: inline;
    font-size: 20px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #0074d9;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: #333;
}

.category, .brand   {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 600px;
    display: flex;
    align-items: center;
    height: 50px;
}
.subcategories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    width: 600px;
}

.subcategory-item {
    border: 1px solid #ccc;
    margin: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameForm {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-between;
}

.name {
    border: none;
    flex: 1;
    margin: 5px;
    font-size: 20px;
}

span {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 2px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size:15px;
}
=======
    text-decoration: none;
    cursor: pointer;
}
.info-product-form{
    width: 100%;
    height: 100%;
    display: flex;
}
#info-product select, #info-product input, #info-product textarea {
    margin-top: 5px;
    display: block;
    width:400px;
    font-size:20px;
}
#info-product{
    width: 410px;
    border: 1px solid #888484;
    background-color:rgb(245, 253, 251);
}
#image-container{
    overflow: auto;
    position: relative;
    border: 1px solid #888484;
    width: 15%;
}
#detail-container{
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #888484;
    padding:10px;
}
#detail-container div{
    background-color:rgb(245, 253, 251);
}
#image-container div{
    margin-bottom:10px ;
}
.img-product{
    width: 200px;
    height: 270px;
}
.delete-div{
    position: absolute;
}
.right{
    float: right;
    display: block;
}
.detail-item div{
    margin:10px;
}
#detail-container div{
    margin-bottom: 10px;
}
.detail-item {
    border: 1px solid black;
}
h1 {
    text-align: center;
}
#add-detail {
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    background-color: rgb(245, 253, 251);
}

#add-detail:hover {
    background-color: rgb(235, 243, 241);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #ccc;
}

th, td {
    font-size: 16px;
    color: #333;
}


>>>>>>> f681d1e180d1a1660afb05cbdddde66f61d09131
